@{
    ViewBag.Title = "Modern Art Gallery";
}

<div class="row body-content no-inside-gutters">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12 sub-heading">
                <h2>Modern Art At The Unit</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 unit-site">

            </div>
            <div class="col-md-6">
                <nav>
                    <ul>
                        <li><div class="nav-button">Genre</div></li>
                        <li><div class="nav-button">Medium</div></li>
                        <li><div class="nav-button">Artist</div></li>
                        <li><div class="nav-button">Year</div></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 white-space">
                <h2>About us...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non semper quam. In hac habitasse platea dictumst. Integer tellus eros, facilisis non diam at, pellentesque vestibulum sapien. Praesent volutpat imperdiet neque, quis pretium orci consectetur eget. Aliquam maximus eu nibh vitae ultricies. Aenean bibendum bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nibh magna, eu scelerisque lectus blandit eget. </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="temp-holder"></div>
        <div class="white-space">
            <h5>Featured Art</h5>
            <h2>Artwork Name Here</h2>
            <span class="author">Frank Smith</span>

        </div>
    </div>
</div>

<div class="row content ads">
    <div class="col-sm-12 col-md-6">
        <p>Hi</p>
    </div>
</div>